# fast5_melbourne

Score and shot attempt analysis per player for the 2018 Fast5 World Series in Melbourne.  The top 5 scorers are:
 1. George Fisher (ENG, 112 pts)
 2. Romelda Aiken (JAM, 89 pts)
 3. Kaylia Stanton (AUS, 88 pts)
 4. Renske Stoltz (ZAF, 87 pts)
 5. Sigrid Burger (ZAF, 85 pts)
 
Also of note is Shanice Beckford (JAM) who scored 68 points from 52 shot attempts, the highest points/shot ratio.

In [1]:
import sys
import pandas as pd

print('Python version: ', sys.version)
print('pandas version: ', pd.__version__)

Python version:  3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
pandas version:  0.23.4

Load the data showing goal attempts and scored for each player.  Data extracted from http://fast5worldseries.com.au/ .

In [2]:
with open('fast5_melbourne_all.csv','r') as csvfile:
    df = pd.read_csv(csvfile, sep='\t')

In [3]:
# Add some more in-depth stats
df['shots scored'] = df['G1']+df['G2']+df['G3']

df['points scored'] = df['G1'] + 2*df['G2'] + 3*df['G3']

df['shot attempts'] = df['G1A']+df['G2A']+df['G3A']

df['shot accuracy'] = df['shots scored']*100.0/df['shot attempts']

df['G1 accuracy'] = df['G1']*100.0/df['G1A']
df['G2 accuracy'] = df['G2']*100.0/df['G2A']
df['G3 accuracy'] = df['G3']*100.0/df['G3A']

In [4]:
# Show the data from all shots
df.sort_values(['points scored', 'shot attempts'], ascending=False).head(23)

,name,G1,G2,G3,G1A,G2A,G3A,Country,shots scored,points scored,shot attempts,shot accuracy,G1 accuracy,G2 accuracy,G3 accuracy
16,Georgina Fisher,25,22,5,30,45,15,ENG,52,84,90,57.777778,83.333333,48.888889,33.333333
9,Kaylia Stanton,28,17,3,33,41,7,AUS,48,71,81,59.259259,84.848485,41.463415,42.857143
20,Romelda Aiken,63,3,0,65,13,4,JAM,66,69,82,80.487805,96.923077,23.076923,0.000000
50,Sigrid Burger,23,22,0,25,43,0,ZAF,45,67,68,66.176471,92.000000,51.162791,NaN
57,Renske Stoltz,0,27,3,0,56,16,ZAF,30,63,72,41.666667,NaN,48.214286,18.750000
1,Kiera Austin,25,18,0,26,45,6,AUS,43,61,77,55.844156,96.153846,40.000000,0.000000
41,Aliyah Dunn,29,13,2,29,23,10,NZL,44,61,62,70.967742,100.000000,56.521739,20.000000
37,Joyce Mvula,48,4,1,56,15,8,MWI,53,59,79,67.088608,85.714286,26.666667,12.500000
21,Shanice Beckford,1,11,10,3,22,27,JAM,22,53,52,42.307692,33.333333,50.000000,37.037037
47,Bailey Mes,20,15,0,21,33,0,NZL,35,50,54,64.814815,95.238095,45.454545,NaN
2,Sophie Garbin,15,13,0,17,31,4,AUS,28,41,52,53.846154,88.235294,41.935484,0.000000
30,Jane Chimaliro,8,9,2,10,20,7,MWI,19,32,37,51.351351,80.000000,45.000000,28.571429
42,Ameliaranne Ekenasio,16,6,0,16,18,9,NZL,22,28,43,51.162791,100.000000,33.333333,0.000000
12,Ella Clark,17,3,1,19,9,5,ENG,21,26,33,63.636364,89.473684,33.333333,20.000000
23,Thristina Harwood,0,11,1,0,20,7,JAM,12,25,27,44.444444,NaN,55.000000,14.285714
43,Monica Falkner,8,5,1,10,11,3,NZL,14,21,24,58.333333,80.000000,45.454545,33.333333
13,Kadeen Corbin,14,1,0,15,10,2,ENG,15,16,27,55.555556,93.333333,10.000000,0.000000
36,Jessie Mazengera,10,3,0,11,12,0,MWI,13,16,23,56.521739,90.909091,25.000000,NaN
24,Shimona Nelson,8,2,0,9,6,0,JAM,10,12,15,66.666667,88.888889,33.333333,NaN
10,Eleanor Cardwell,3,2,0,6,8,2,ENG,5,7,16,31.250000,50.000000,25.000000,0.000000
53,Danelle Lochner,4,0,0,4,3,0,ZAF,4,4,7,57.142857,100.000000,0.000000,NaN
34,Alinafe Kamwala,1,0,0,3,3,2,MWI,1,1,8,12.500000,33.333333,0.000000,0.000000
14,Sasha Corbin,0,0,0,0,1,0,ENG,0,0,1,0.000000,NaN,0.000000,NaN

Load and analyse the data showing the breakdown of all scores from the matches, including any power play bonuses.  Data extracted from https://mc.championdata.com/fast5worldseries/ .

In [5]:
with open('R1_2.csv','r') as csvfile:
    df2 = pd.read_csv(csvfile, sep=',')
    
# Example of the data
df2

      Quarter  Time       Player         Action    Score
0           1  1:21      J.Mvula       3PT MISS    0 - 0
1           1  1:44     K.Austin       1PT GOAL    1 - 0
2           1  2:19      J.Mvula       1PT GOAL    1 - 1
3           1  2:38     S.Garbin       1PT GOAL    2 - 1
4           1  3:01     S.Garbin       2PT MISS    2 - 1
5           1  3:22     K.Austin       2PT GOAL    4 - 1
6           1  4:16      J.Mvula       1PT MISS    4 - 1
7           1  4:24      J.Mvula       1PT GOAL    4 - 2
8           1  4:42     S.Garbin       2PT MISS    4 - 2
9           1  5:24      J.Mvula       2PT GOAL    4 - 4
10          1  5:59      J.Mvula       1PT GOAL    4 - 5
11          2  0:12     S.Garbin  1PT GOAL (PP)    6 - 5
12          2  0:56     K.Austin       2PT MISS    6 - 5
13          2  1:02     K.Austin       2PT MISS    6 - 5
14          2  1:35  J.Chimaliro       3PT MISS    6 - 5
15          2  1:54     K.Austin  1PT GOAL (PP)    8 - 5
16          2  2:17  J.Chimaliro       3PT MISS    8 - 5
17          2  3:07     S.Garbin  2PT GOAL (PP)   12 - 5
18          2  4:14  J.Chimaliro       2PT GOAL   12 - 7
19          2  4:38    K.Stanton       2PT MISS   12 - 7
20          2  4:56    K.Stanton  1PT GOAL (PP)   14 - 7
21          2  5:24  J.Chimaliro       2PT MISS   14 - 7
22          2  5:58  J.Chimaliro       2PT GOAL   14 - 9
23          2  6:06     K.Austin       3PT MISS   14 - 9
24          3  1:19    K.Stanton       1PT GOAL   15 - 9
25          3  1:38      J.Mvula  1PT GOAL (PP)  15 - 11
26          3  1:57    K.Stanton       2PT GOAL  17 - 11
27          3  2:36    K.Stanton       2PT GOAL  19 - 11
28          3  2:53  J.Chimaliro  2PT GOAL (PP)  19 - 15
29          3  3:16     S.Garbin       2PT MISS  19 - 15
...       ...   ...          ...            ...      ...
1000        3  0:25    T.Harwood       2PT MISS  12 - 20
1001        3  0:52       A.Dunn       2PT GOAL  12 - 22
1002        3  1:07      R.Aiken       1PT GOAL  13 - 22
1003        3  1:20   A.Ekenasio       1PT GOAL  13 - 23
1004        3  1:43      R.Aiken       2PT MISS  13 - 23
1005        3  1:46      R.Aiken       1PT GOAL  14 - 23
1006        3  2:33       A.Dunn       2PT GOAL  14 - 25
1007        3  2:50      R.Aiken       1PT GOAL  15 - 25
1008        3  3:02   A.Ekenasio       2PT GOAL  15 - 27
1009        3  3:30   A.Ekenasio       3PT MISS  15 - 27
1010        3  3:34        B.Mes       1PT GOAL  15 - 28
1011        3  3:53   S.Beckford       3PT MISS  15 - 28
1012        3  4:09   S.Beckford       2PT GOAL  17 - 28
1013        3  4:51   S.Beckford       2PT GOAL  19 - 28
1014        3  5:09        B.Mes       2PT MISS  19 - 28
1015        3  5:59      R.Aiken       3PT MISS  19 - 28
1016        4  0:32        B.Mes       1PT GOAL  19 - 29
1017        4  0:48      R.Aiken  1PT GOAL (PP)  21 - 29
1018        4  1:17        B.Mes       1PT GOAL  21 - 30
1019        4  1:32      R.Aiken  1PT GOAL (PP)  23 - 30
1020        4  2:26        B.Mes       2PT MISS  23 - 30
1021        4  2:29        B.Mes       1PT GOAL  23 - 31
1022        4  2:50   S.Beckford       3PT MISS  23 - 31
1023        4  3:08        B.Mes       1PT GOAL  23 - 32
1024        4  3:28   S.Beckford  3PT GOAL (PP)  29 - 32
1025        4  3:59        B.Mes       1PT GOAL  29 - 33
1026        4  4:14      R.Aiken       2PT MISS  29 - 33
1027        4  4:40      R.Aiken  1PT GOAL (PP)  31 - 33
1028        4  5:00        B.Mes       1PT GOAL  31 - 34
1029        4  5:47      R.Aiken  1PT GOAL (PP)  33 - 34

[1030 rows x 5 columns]

In [6]:
# Compile all rows into a table (equivalent to a sum-if)
players = df2['Player'].unique()
actions = df2['Action'].unique()

df3 = pd.DataFrame(players, columns=['player'])
for act in actions:
    df3[act] = 0
    
df3 = df3.set_index('player')

for player in players:
    for action in actions:
        df3.loc[player, action] = len(df2.loc[(df2["Player"]==player) & (df2["Action"]==action)])

In [7]:
# Show the extracted data
df3

,3PT MISS,1PT GOAL,2PT MISS,2PT GOAL,1PT MISS,1PT GOAL (PP),2PT GOAL (PP),3PT GOAL,3PT GOAL (PP)
player,,,,,,,,,
J.Mvula,7,35,11,4,8,13,0,0,1
K.Austin,6,17,27,12,1,8,6,0,0
S.Garbin,4,13,18,12,2,2,1,0,0
J.Chimaliro,5,8,11,7,2,0,2,2,0
K.Stanton,4,19,24,13,5,9,4,3,0
A.Kamwala,2,1,3,0,2,0,0,0,0
J.Mazengera,0,6,9,1,1,4,2,0,0
S.Burger,0,17,21,16,2,6,6,0,0
S.Beckford,17,1,11,8,2,0,3,7,3
R.Aiken,4,43,10,3,2,20,0,0,0
R.Stoltz,13,0,29,18,0,0,9,1,2
T.Harwood,6,0,9,10,0,0,1,0,1
S.Nelson,0,5,4,2,1,3,0,0,0
K.Corbin,2,13,9,0,1,1,1,0,0
A.Ekenasio,9,12,12,5,0,4,1,0,0
E.Clark,4,12,6,2,2,5,1,1,0
B.Mes,0,18,18,9,1,2,6,0,0
M.Falkner,2,4,6,4,2,4,1,1,0
E.Cardwell,2,3,6,2,3,0,0,0,0
G.Fisher,10,20,23,18,5,5,4,0,5
A.Dunn,8,20,10,12,0,9,1,2,0
S.Corbin,0,0,1,0,0,0,0,0,0
D.Lochner,0,4,3,0,0,0,0,0,0

In [8]:
# Add additional statistics, as per the above data df
df3['G1'] = df3['1PT GOAL'] + df3['1PT GOAL (PP)']
df3['G2'] = df3['2PT GOAL'] + df3['2PT GOAL (PP)']
df3['G3'] = df3['3PT GOAL'] + df3['3PT GOAL (PP)']

df3['G1A'] = df3['G1'] + df3['1PT MISS']
df3['G2A'] = df3['G2'] + df3['2PT MISS']
df3['G3A'] = df3['G3'] + df3['3PT MISS']

df3['shots scored'] = df3['G1'] + df3['G2'] + df3['G3']
df3['shot attempts'] = df3['G1A'] + df3['G2A'] + df3['G3A']

df3['points (ignore PP)'] = df3['G1'] + 2*df3['G2'] + 3*df3['G3']

df3['points'] = (1*df3['1PT GOAL'] + 2*df3['1PT GOAL (PP)']
                 + 2*df3['2PT GOAL'] + 4*df3['2PT GOAL (PP)']
                 + 3*df3['3PT GOAL'] + 6*df3['3PT GOAL (PP)'])

df3['points per shot'] = df3['points']/df3['shot attempts']

## Results of analysis

In [9]:
# Show some of the key statistics
df3[['G1', 'G2', 'G3', 'G1A', 'G2A', 'G3A', 'shot attempts',
     'points (ignore PP)', 'points', 'points per shot']].sort_values('points', ascending=False)

,G1,G2,G3,G1A,G2A,G3A,shot attempts,points (ignore PP),points,points per shot
player,,,,,,,,,,
G.Fisher,25,22,5,30,45,15,90,84,112,1.244444
R.Aiken,63,3,0,65,13,4,82,69,89,1.085366
K.Stanton,28,17,3,33,41,7,81,71,88,1.086420
R.Stoltz,0,27,3,0,56,16,72,63,87,1.208333
S.Burger,23,22,0,25,43,0,68,67,85,1.250000
K.Austin,25,18,0,26,45,6,77,61,81,1.051948
J.Mvula,48,4,1,56,15,8,79,59,75,0.949367
A.Dunn,29,13,2,29,23,10,62,61,72,1.161290
S.Beckford,1,11,10,3,22,27,52,53,68,1.307692
B.Mes,20,15,0,21,33,0,54,50,64,1.185185
S.Garbin,15,13,0,17,31,4,52,41,45,0.865385
J.Chimaliro,8,9,2,10,20,7,37,32,36,0.972973
A.Ekenasio,16,6,0,16,18,9,43,28,34,0.790698
E.Clark,17,3,1,19,9,5,33,26,33,1.000000
T.Harwood,0,11,1,0,20,7,27,25,30,1.111111
M.Falkner,8,5,1,10,11,3,24,21,27,1.125000
J.Mazengera,10,3,0,11,12,0,23,16,24,1.043478
K.Corbin,14,1,0,15,10,2,27,16,19,0.703704
S.Nelson,8,2,0,9,6,0,15,12,15,1.000000
E.Cardwell,3,2,0,6,8,2,16,7,7,0.437500
D.Lochner,4,0,0,4,3,0,7,4,4,0.571429
A.Kamwala,1,0,0,3,3,2,8,1,1,0.125000
S.Corbin,0,0,0,0,1,0,1,0,0,0.000000

In [10]:
# For comparison, show the table from the original data (without the power play points)
df[['name', 'G1', 'G2', 'G3', 'G1A', 'G2A', 'G3A', 'Country', 'shots scored',
    'shot attempts', 'points scored']].sort_values(
    ['points scored', 'shot attempts'], ascending=False).head(23)
#df.sort_values(['points scored', 'shot attempts'], ascending=False).head(23)

,name,G1,G2,G3,G1A,G2A,G3A,Country,shots scored,shot attempts,points scored
16,Georgina Fisher,25,22,5,30,45,15,ENG,52,90,84
9,Kaylia Stanton,28,17,3,33,41,7,AUS,48,81,71
20,Romelda Aiken,63,3,0,65,13,4,JAM,66,82,69
50,Sigrid Burger,23,22,0,25,43,0,ZAF,45,68,67
57,Renske Stoltz,0,27,3,0,56,16,ZAF,30,72,63
1,Kiera Austin,25,18,0,26,45,6,AUS,43,77,61
41,Aliyah Dunn,29,13,2,29,23,10,NZL,44,62,61
37,Joyce Mvula,48,4,1,56,15,8,MWI,53,79,59
21,Shanice Beckford,1,11,10,3,22,27,JAM,22,52,53
47,Bailey Mes,20,15,0,21,33,0,NZL,35,54,50
2,Sophie Garbin,15,13,0,17,31,4,AUS,28,52,41
30,Jane Chimaliro,8,9,2,10,20,7,MWI,19,37,32
42,Ameliaranne Ekenasio,16,6,0,16,18,9,NZL,22,43,28
12,Ella Clark,17,3,1,19,9,5,ENG,21,33,26
23,Thristina Harwood,0,11,1,0,20,7,JAM,12,27,25
43,Monica Falkner,8,5,1,10,11,3,NZL,14,24,21
13,Kadeen Corbin,14,1,0,15,10,2,ENG,15,27,16
36,Jessie Mazengera,10,3,0,11,12,0,MWI,13,23,16
24,Shimona Nelson,8,2,0,9,6,0,JAM,10,15,12
10,Eleanor Cardwell,3,2,0,6,8,2,ENG,5,16,7
53,Danelle Lochner,4,0,0,4,3,0,ZAF,4,7,4
34,Alinafe Kamwala,1,0,0,3,3,2,MWI,1,8,1
14,Sasha Corbin,0,0,0,0,1,0,ENG,0,1,0

As a quick sanity check, we show that the sorted points and shot attempts represent the same information.

In [11]:
(list(df.sort_values(['points scored', 'shot attempts'], ascending=False).head(23)['shot attempts']) ==
 list(df3.sort_values(['points (ignore PP)', 'shot attempts'], ascending=False)['shot attempts']))

True

In [12]:
(list(df.sort_values(['points scored', 'shot attempts'], ascending=False).head(23)['points scored']) ==
 list(df3.sort_values(['points (ignore PP)', 'shot attempts'], ascending=False)['points (ignore PP)']))

True